mixin range(type, max, step, defaultValue)
  .range( class=`is-${type}` )
    if type !== 'a'
      canvas.range_space
    input.range_input(
      type="range"
      min="0"
      max=max
      step=step / 10
      aria-hidden="true"
      value=defaultValue
      tabindex="-1"
    )
