mixin range(type, max, step, defaultValue)
  .range( class=`is-${type}` aria-hidden="true" )
    if type !== 'a'
      canvas.range_space
    input.range_input(
      type="range"
      min="0"
      max=max
      step=step / 100
      value=defaultValue
      tabindex="-1"
      list=`range_${type}_values`
    )
    datalist( id=`range_${type}_values` )
