.title
  h1.title_text
    = `${LCH ? 'LCH' : 'OKLCH'} Color Picker & Converter`
  a.title_source(
    target="_blank"
    href="https://github.com/evilmartians/oklch-picker"
    title="Source code"
    aria-title="Source code"
  )
    include ./github.svg
