meta( charset="UTF-8" )
meta( name="viewport" content="width=device-width,initial-scale=1" )
title= `${LCH ? 'LCH' : 'OKLCH'} Color Picker & Converter`
link( rel="preload" href="./view/base/MartianMono-1.0.0.woff2" as="font" type="font/woff2" crossorigin )
link( rel="preload" href="./view/link/external.svg" as="image" )
link( rel="preload" href="./view/field/decrease.svg" as="image" )
meta( name="color-scheme" content="dark light" )
meta( name="theme-color" content="rgb(242,241,245)" media="(prefers-color-scheme: light)" )
meta( name="theme-color" content="#000" media="(prefers-color-scheme: dark)" )
link( rel="icon" href="/favicon.ico" sizes="any" )
link( rel="icon" href=LCH ? './view/base/lch.svg' : './view/base/oklch.svg' type="image/svg+xml" )
link( rel="apple-touch-icon" href=LCH ? './view/base/apple-touch-icon-lch.png' : './view/base/apple-touch-icon-oklch.png' )
meta( property="og:image" content=LCH ? '/og-lch.png' : '/og-oklch.png' )
meta( name="description" content=`${LCH ? 'LCH' : 'OKLCH'} is a new way to encode colors (like hex, RGBA, or HSL)` )
link( rel="manifest" href=LCH ? '/lch.webmanifest' : '/oklch.webmanifest' )
