.text_value
  input.text_input.field#text-lch(
    type="text"
    value=""
    aria-label="LCH CSS value"
  )
  .text_error#text-lch-error( aria-hidden="true" ) Error in color
.text_value
  input.text_input.field#text-rgb(
    type="text"
    value=""
    aria-label="RGB CSS value"
  )
  .text_error#text-rgb-error( aria-hidden="true" ) Error in color
