mixin field(label, hotkey, opts = {})
  .field( class=opts.options ? 'is-options' : '' )
    kbd.field_hotkey( aria-hidden="true" )= hotkey
    input.field_input( aria-label=label aria-keyshortcuts=hotkey )&attributes({ type: 'text', ...opts })
    if (opts.role === 'spinbutton')
      button.field_control.is-increase( tabindex="-1" aria-hidden="true" )
      button.field_control.is-decrease( tabindex="-1" aria-hidden="true" )
    if opts.options
      .field_options
        select.field_select( aria-label=opts.optionsLabel )
          for value, key in opts.options
            option( value=key )= value
        .field_button
          include ./down.svg
